$bg: #44aad5;
$text-color-header: rgb(255, 255, 255);
$text-color-footer: rgb(251, 251, 251);
$text-color-body: rgb(0, 0, 0);
$text-color-main: rgb(243, 243, 243);
$link-color: rgb(17, 0, 255);
$font: Raleway, Arial, Verdana;
$font-size: 16px;
$padding: 10px;
$container: 1000px;