* {
  padding: 0;
  margin: 0;
  font-family: Raleway, Arial, Verdana;
}

body {
  color: black;
}

.header {
  background-color: #44aad5;
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px #333;
  padding: 10px;
}
.header .header-menu {
  padding: 10px;
  box-shadow: 0 0 10px #333;
  text-decoration: none;
  float: right;
  margin: 20px;
  display: none;
  color: white;
}
.header .header-nav {
  float: right;
}
.header .header-nav ul {
  list-style: none;
}
.header .header-nav ul li {
  display: inline-block;
  margin: 30px;
  font-weight: 700;
}
.header .header-nav ul li a {
  text-decoration: none;
  color: white;
}
.header .header-nav ul li a:hover {
  color: #1100ff;
}

.footer {
  background-color: #44aad5;
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #fbfbfb;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.container {
  width: 1000px;
  margin: auto;
}
.container h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.container p {
  line-height: 30px;
  margin-bottom: 20px;
}

.main .main-center {
  text-align: center;
}
.main .main-btn {
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #44aad5;
  color: #f3f3f3;
  border-radius: 5px;
  margin: 30px;
  display: inline-block;
  transition: all 1s;
}
.main .main-btn:hover {
  background-color: #1100ff;
  color: #44aad5;
}
.main .main-grid-destaques {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.main .main-grid-destaques img {
  width: 100%;
}
.main .main-grid-destaques-coluna {
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  margin: 30px 10px;
}
.main .main-grid-veiculo {
  display: grid;
  grid-template-columns: 35% 75%;
}
.main .main-grid-veiculo .valor {
  color: #1100ff;
  margin: 30px;
}
.main .main-grid-veiculo .main-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.main .main-grid-veiculo .main-grid-coluna {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
.main .main-foto {
  border: 10x solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  display: block;
  margin: 20px;
}
.main .main-foto img {
  width: 100%;
}

.main .main-center {
  text-align: center;
}
.main .main-btn {
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #44aad5;
  color: #f3f3f3;
  border-radius: 5px;
  margin: 30px;
  display: inline-block;
  transition: all 1s;
}
.main .main-btn:hover {
  background-color: #1100ff;
  color: #44aad5;
}
.main .main-grid-sobre {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.main .main-grid-sobre img {
  width: 100%;
}
.main .main-grid-sobre-coluna {
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  margin: 30px 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 40% 60%;
}
.grid-2 .grid-2-coluna {
  padding: 10px;
  box-sizing: border-box;
}
.grid-2 img {
  background-color: #f1f1f1;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px #666;
  display: block;
  filter: grayscale(100);
  transition: all 1s;
  width: 100%;
}

p {
  margin: 10px 0;
}

/* media queria para telas menos que 420px */
@media (max-width: 420px) {
  .header .header-menu {
    display: block;
  }
  .header .header-logo img {
    width: 280px;
  }
  .header .header-nav {
    width: 100%;
    display: none;
  }
  .header .header-nav ul li {
    display: block;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .main .main-grid-destaques {
    grid-template-columns: 100%;
  }
  .main .main-grid-veiculo {
    grid-template-columns: 100%;
  }
  .main .main-grid {
    grid-template-columns: 50% 50% !important;
  }
}

/*# sourceMappingURL=style.css.map */
